<%= render 'assests_page' %>

<script >


jQuery(document).ready(function() {
   // Metronic.init(); // init metronic core componets
   // Layout.init(); // init layout
   // Index.init();
   //Index.initDashboardDaterange();
   //Index.initJQVMAP(); // init index page's custom scripts
   //Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   //Index.initChat();
   //Index.initMiniCharts();
   //Index.initIntro();
   //Tasks.initDashboardWidget();
});

var Index = function () {

    return {

        // //main function
        // init: function () {
        //     Metronic.addResizeHandler(function () {
        //         jQuery('.vmaps').each(function () {
        //             var map = jQuery(this);
        //             map.width(map.parent().width());
        //         });
        //     });
        // },

        initCharts: function () {
            // if (!jQuery.plot) {
            //   alert("in jQuery.plot");
            //     return;
            // }
            function showChartTooltip(x, y, xValue, yValue) {
                $('<div id="tooltip" class="chart-tooltip">' + yValue + '<\/div>').css({
                    position: 'absolute',
                    display: 'none',
                    top: y - 40,
                    left: x - 40,
                    border: '0px solid #ccc',
                    padding: '2px 6px',
                    'background-color': '#fff'
                }).appendTo("body").fadeIn(200);
            }

            var data = [];
            var totalPoints = 250;

            // random data generator for plot charts

            function getRandomData() {
                if (data.length > 0) data = data.slice(1);
                // do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50;
                    var y = prev + Math.random() * 10 - 5;
                    if (y < 0) y = 0;
                    if (y > 100) y = 100;
                    data.push(y);
                }
                // zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i) res.push([i, data[i]])
                return res;
            }

            function randValue() {
                return (Math.floor(Math.random() * (1 + 50 - 20))) + 10;
            }

            var visitors = [
                ['02/2013', 1500],
                ['03/2013', 2600],
                ['04/2013', 1200],
                ['05/2013', 560],
                ['06/2013', 2000],
                ['07/2013', 2350],
                ['08/2013', 1500],
                ['09/2013', 4700],
                ['10/2013', 1300]
            ];

            alert($('#site_statistics').size());

            if ($('#site_statistics').size() != 0) {

                $('#site_statistics_loading').hide();
                $('#site_statistics_content').show();
                alert("in plot_statistics ...........");
                var plot_statistics = $.plot($("#site_statistics"),
                    [{
                        data: visitors,
                        lines: {
                            fill: 0.6,
                            lineWidth: 0
                        },
                        color: ['#f89f9f']
                    }, {
                        data: visitors,
                        points: {
                            show: true,
                            fill: true,
                            radius: 5,
                            fillColor: "#f89f9f",
                            lineWidth: 3
                        },
                        color: '#fff',
                        shadowSize: 0
                    }],

                    {
                        xaxis: {
                            tickLength: 0,
                            tickDecimals: 0,
                            mode: "categories",
                            min: 0,
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        yaxis: {
                            ticks: 5,
                            tickDecimals: 0,
                            tickColor: "#eee",
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#eee",
                            borderColor: "#eee",
                            borderWidth: 1
                        }
                    });
                alert("end plot_statistics ...........");
                var previousPoint = null;
                $("#site_statistics").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));
                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                            showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + ' visits');
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            }


            if ($('#site_activities').size() != 0) {
                //site activities
                var previousPoint2 = null;
                $('#site_activities_loading').hide();
                $('#site_activities_content').show();

                var data1 = [
                    ['DEC', 300],
                    ['JAN', 600],
                    ['FEB', 1100],
                    ['MAR', 1200],
                    ['APR', 860],
                    ['MAY', 1200],
                    ['JUN', 1450],
                    ['JUL', 1800],
                    ['AUG', 1200],
                    ['SEP', 600]
                ];


                var plot_statistics = $.plot($("#site_activities"),

                    [{
                        data: data1,
                        lines: {
                            fill: 0.2,
                            lineWidth: 0,
                        },
                        color: ['#BAD9F5']
                    }, {
                        data: data1,
                        points: {
                            show: true,
                            fill: true,
                            radius: 4,
                            fillColor: "#9ACAE6",
                            lineWidth: 2
                        },
                        color: '#9ACAE6',
                        shadowSize: 1
                    }, {
                        data: data1,
                        lines: {
                            show: true,
                            fill: false,
                            lineWidth: 3
                        },
                        color: '#9ACAE6',
                        shadowSize: 0
                    }],

                    {

                        xaxis: {
                            tickLength: 0,
                            tickDecimals: 0,
                            mode: "categories",
                            min: 0,
                            font: {
                                lineHeight: 18,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        yaxis: {
                            ticks: 5,
                            tickDecimals: 0,
                            tickColor: "#eee",
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#eee",
                            borderColor: "#eee",
                            borderWidth: 1
                        }
                    });

                $("#site_activities").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));
                    if (item) {
                        if (previousPoint2 != item.dataIndex) {
                            previousPoint2 = item.dataIndex;
                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);
                            showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + 'M$');
                        }
                    }
                });

                $('#site_activities').bind("mouseleave", function () {
                    $("#tooltip").remove();
                });
            }
        },

    };

}();

</script>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->
    <div class="portlet solid bordered grey-cararra">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-bar-chart-o"></i>Site Visits
        </div>
        <div class="tools">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn grey-steel btn-sm active">
            <input type="radio" name="options" class="toggle" id="option1">New</label>
            <label class="btn grey-steel btn-sm">
            <input type="radio" name="options" class="toggle" id="option2">Returning</label>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div id="site_statistics_loading">
          <img src="../../assets/admin/layout/img/loading.gif" alt="loading"/>
        </div>
        <div id="site_statistics_content" class="display-none">
          <div id="site_statistics" class="chart">
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->
    <div class="portlet solid grey-cararra bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-bullhorn"></i>Revenue
        </div>
        <div class="tools">
          <div class="btn-group pull-right">
            <a href="" class="btn grey-steel btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            Filter <span class="fa fa-angle-down">
            </span>
            </a>
            <ul class="dropdown-menu pull-right">
              <li>
                <a href="javascript:;">
                Q1 2014 <span class="label label-sm label-default">
                past </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                Q2 2014 <span class="label label-sm label-default">
                past </span>
                </a>
              </li>
              <li class="active">
                <a href="javascript:;">
                Q3 2014 <span class="label label-sm label-success">
                current </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                Q4 2014 <span class="label label-sm label-warning">
                upcoming </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div id="site_activities_loading">
          <img src="../../assets/admin/layout/img/loading.gif" alt="loading"/>
        </div>
        <div id="site_activities_content" class="display-none">
          <div id="site_activities" style="height: 228px;">
          </div>
        </div>
        <div style="margin: 20px 0 10px 30px">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
              <span class="label label-sm label-success">
              Revenue: </span>
              <h3>$13,234</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
              <span class="label label-sm label-info">
              Tax: </span>
              <h3>$134,900</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
              <span class="label label-sm label-danger">
              Shipment: </span>
              <h3>$1,134</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
              <span class="label label-sm label-warning">
              Orders: </span>
              <h3>235090</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET-->
  </div>
</div>

<div class="row ">
        <div class="col-md-6 col-sm-6">
          <div class="portlet box blue-steel">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-bell-o"></i>User Feeds
              </div>
              <div class="actions">
                <div class="btn-group">
                  <a class="btn btn-sm btn-default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                  Filter By <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                    <label><div class="checker"><span><input type="checkbox"></span></div> Finance</label>
                    <label><div class="checker"><span class="checked"><input type="checkbox" checked=""></span></div> Membership</label>
                    <label><div class="checker"><span><input type="checkbox"></span></div> Customer Support</label>
                    <label><div class="checker"><span class="checked"><input type="checkbox" checked=""></span></div> HR</label>
                    <label><div class="checker"><span><input type="checkbox"></span></div> System</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="portlet-body">
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="scroller" style="overflow: hidden; width: auto; height: 300px;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                <ul class="feeds">
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-info">
                            <i class="fa fa-check"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                             You have 4 pending tasks. <span class="label label-sm label-warning ">
                            Take action <i class="fa fa-share"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                         Just now
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-success">
                            <i class="fa fa-bar-chart-o"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                             Finance Report for year 2013 has been released.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                         20 mins
                      </div>
                    </div>
                    </a>
                  </li>
                  <li>
                    <div class="col1">
                      <div class="cont">
                        <div class="cont-col1">
                          <div class="label label-sm label-danger">
                            <i class="fa fa-user"></i>
                          </div>
                        </div>
                        <div class="cont-col2">
                          <div class="desc">
                             You have 5 pending membership that requires a quick review.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col2">
                      <div class="date">
                         24 mins
                      </div>
                    </div>
                </ul>
              </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; border-radius: 7px; z-index: 99; right: 1px; height: 166.359px; display: block;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
              <div class="scroller-footer">
                <div class="btn-arrow-link pull-right">
                  <a href="#">See All Records</a>
                  <i class="icon-arrow-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- BEGIN CONDENSED TABLE PORTLET-->
          <div class="portlet box green">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-picture"></i>User Status
              </div>
              <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>
                <a href="javascript:;" class="remove">
                </a>
              </div>
            </div>
            <div class="portlet-body">
              <div class="table-scrollable">
                <table class="table table-condensed table-hover" id="status_table">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>call Status</th>
                  </tr>
                </thead>
                  <tbody id="status_table_body">
                    <% @agents.each do |agent| %>
                      <tr>
                        <td class="name_<%= agent.id%>"><%= agent.full_name%></td>
                        <td>
                          <span class="status_<%= agent.id%> label label-sm <%= agent.call_status ? 'label-success' : 'label-danger'%>">
                          <%= agent.call_status ? 'Online' : 'Offline'%> </span>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- END CONDENSED TABLE PORTLET-->
        </div>
      </div>


<div class="row ">
  <div class="col-md-12">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-picture"></i>User Status
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-scrollable">
          <table class="table table-condensed table-hover" id="status_table">
          <thead>
            <tr>
              <th>PhoneID</th>
              <th>Agent Name</th>
              <th>Supervisor</th>
              <th>Manager</th>
              <th>Total Gross Sales</th>
              <th>Total Gross Revenue</th>
              <th>Calls Handled (Sales)</th>
              <th>AOV</th>
              <th>Active Duration</th>
              <th>Occupancy</th>
              <th>Utilization</th>
              <th>AHT</th>
              <th>Calls Per Hour</th>
              <th>Bounced Calls</th>
              <th>Calls Presented</th>
            </tr>
          </thead>
          <tbody id="status_table_body">
            <tr role="row" class="odd" data-no-turbolink>
              <td>101010</td>
              <td>Abimael Bol</td>
              <td>Mitchelle Muschamp</td>
              <td>Jeremy Papai</td>
              <td>57</td>
              <td><span>$</span>933.84</td>
              <td>165</td>
              <td><span>$</span>262.00</td>
              <td>22:57:38</td>
              <td>85.41%</td>
              <td>86.8%</td>
              <td>0:09:28</td>
              <td>4.68</td>
              <td>10</td>
              <td>183</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<li id="updates" style="display:none">
  <div class="col1">
    <div class="cont">
      <div class="cont-col1">
        <div class="label label-sm label-info">
          <i class="fa fa-check"></i>
        </div>
      </div>
      <div class="cont-col2">
        <div class="desc replace_notif">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col2">
    <div class="date">
       Just now
    </div>
  </div>
</li>